@model MvcCompanySample.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postal_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postal_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.State_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.State_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country.Country_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.Country_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website_Uri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website_Uri)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
